The reference used for this python file is <br> https://realpython.com/python-sql-libraries/

# Import Relevant Libraries

In [1]:
import mysql.connector
from mysql.connector import Error

# Function that creates a connection to the server

In [2]:
def create_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password
        )
        print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occured")
    
    return connection

connection = create_connection("localhost", "root", "!)@QPWalsMai")

Connection to MySQL DB successful

# Function to create the database

In [3]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as e:
        print(f"The error '{e}' has occurred")

### Write the query

In [4]:
connection = create_connection('localhost', 'root', '!)@QPWalsMai')

Connection to MySQL DB successful

In [6]:
create_database_query = "CREATE DATABASE sm_app"
create_database(connection, create_database_query)

Database created successfully

Modify the create_connection function to connect to the database

In [9]:
def create_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password,
            database = db_name
        )
        print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occured")
    
    return connection

connection = create_connection("localhost", "root", "!)@QPWalsMai", "sm_app")

Connection to MySQL DB successful

### Write a function to execute a query

In [10]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("query executed successfully")
    except Error as e:
        print(f"The error '{e}' has occurred")

In [15]:
query_to_create_table = """
CREATE TABLE users(
id INT AUTO_INCREMENT,
first_name VARCHAR(50),
last_name VARCHAR(50),
num_friends INT,
register_date DATE,
is_active TINYINT(1),
phone BIGINT,
PRIMARY KEY(id)
)"""
execute_query(connection, query_to_create_table)

query executed successfully

In [16]:
create_users = """
INSERT INTO users (
first_name, last_name, num_friends, register_date, is_active, phone)
VALUES 
       ('Jason', 'Smith', 34, '2019-03-23', 0, 6509329842),
       ('Gabrielle', 'Red', 100, '2017-01-10', 1, 6459376372),
       ('Amanda', 'Green', 400, '2010-04-24', 1, 4569847839),
       ('Rosa', 'Brushfield', 65, '2020-01-02', 0, 3675649876),
       ('David', 'Bones', 450, '2010-02-01', 1, 4673562345),
       ('Harris', 'McFreey', 300, '2016-03-04', 0, 4678567365)
"""
execute_query(connection, create_users)

query executed successfully

### Write a Function to Read Data from the Database

In [17]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        results = cursor.fetchall()
        return results
    except Error as e:
        print(f"The error '{e}' has occurred")

In [21]:
read_query = "SELECT * FROM users"
table = execute_read_query(connection, read_query)
for user in table:
    print(user)

(1, 'Jason', 'Smith', 34, datetime.date(2019, 3, 23), 0, 6509329842)
(2, 'Gabrielle', 'Red', 100, datetime.date(2017, 1, 10), 1, 6459376372)
(3, 'Amanda', 'Green', 400, datetime.date(2010, 4, 24), 1, 4569847839)
(4, 'Rosa', 'Brushfield', 65, datetime.date(2020, 1, 2), 0, 3675649876)
(5, 'David', 'Bones', 450, datetime.date(2010, 2, 1), 1, 4673562345)
(6, 'Harris', 'McFreey', 300, datetime.date(2016, 3, 4), 0, 4678567365)

Now we want to convert this data that we just printed to a Pandas DataFrame. <br>
Reference: https://datascience.stackexchange.com/questions/26333/convert-a-list-of-lists-into-a-pandas-dataframe

In [30]:
import pandas as pd

df = pd.DataFrame(table, columns = 
                  ['Id', 'First Name', 'Last Name', 
                   'Number of Friends', 'Registration Date', 'Active', 'Phone'])

In [31]:
df.set_index('Id')

,First Name,Last Name,Number of Friends,Registration Date,Active,Phone
Id,,,,,,
1,Jason,Smith,34,2019-03-23,0,6509329842
2,Gabrielle,Red,100,2017-01-10,1,6459376372
3,Amanda,Green,400,2010-04-24,1,4569847839
4,Rosa,Brushfield,65,2020-01-02,0,3675649876
5,David,Bones,450,2010-02-01,1,4673562345
6,Harris,McFreey,300,2016-03-04,0,4678567365